<html>
  <head>
    <title>Aroymai Food Survey</title>
  </head>
  <body>
    <h1>Aroymai</h1>
    <form action="/confirm" method="POST">
      <table>
        <tr>
          <th>Foods</th>
          {% for key, value in foods.items %}
          <td>
            <center>{{ value }}</center>
            <textarea name="{{ key }}_Comment" rows="8" cols="30" id="id_{{ key }}_Comment"  placeholder="Enter comment"></textarea><br>
            Enter score: <input type="number" name="{{ key }}_Score" id="id_{{ key }}_Score"  min="1" max="5">
          </td>
          {% endfor %}
        </tr>
        <tr>
          <th>Drinks</th>
          {% for key, value in drinks.items %}
          <td>
            <center>{{ value }}</center>
            <textarea name="{{ key }}_Comment" rows ="8" cols="30" id="id_{{ key }}_Comment" placeholder="Enter comment"></textarea><br>
            Enter score: <input type="number" name="{{ key }}_Score" id="id_{{ key }}_Score" min="1" max="5">
          </td>
          {% endfor %}
        </tr>
        <tr>
          <td><input type="submit" value="Send" id="id_send"></td>
        </tr>
      </table>
      {% csrf_token %}
    </form>
  </body>
</html>
