<html>
    <head>
        <title>Aroymai</title>
    </head>
    <body>
        <h1>Aroymai</h1>
        <form action="/fill" method="POST">
            <table>
                <tr>
                    <th>Foods</th>
                    <td><input type="checkbox" name="GangCurry" value="GangCurry" id="id_GangCurry">GangCurry</td>
                    <td><input type="checkbox" name="GangSom" value="GangSom" id="id_GangSom">GangSom<br></td>
                </tr>
                <tr>
                    <th>Drinks</th>
                    <td><input type="checkbox" name="KegHuay" value="KegHuay" id="id_KegHuay">KegHuay<br></td>
                    <td><input type="checkbox" name="NamOi" value="NamOi" id="id_NamOi">NamOi<br></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Vote" id="id_vote"></td>
                </tr>
            </table>
            {% csrf_token %}
        </form>
    </body>
</html>

