<html>
    <head>
        <title>poll</title>
    </head>
    <body>
        <h1>poll</h1>
        <form>
            <select name="food" multiple="multiple">
                <option value="Gang curry" id="Gang curry">Gang curry</option>
                <option value="Keghuay" id="Keghuay">Keghuay</option>
            </select>
            <input type="submit" value="Vote" id="Submit">
        </form>
        <!-- {% load static %} 
        <img src="{% static "Keghuay.jpg" %}" alt="Keghuay"> -->
    </body>
</html>

